@import '../../shared/scss/variables';

.backgroundAccordionWrapper{
    margin-top: 25px;

    .bgProfileDetails{
        &::after {
            content: '';
            display: block;
            width: 100%; /* Line width, adjust as needed */
            height: 1px; /* Line thickness */
            background-color: whitesmoke; /* Line color */
            margin: 25px auto 0; /* Centers the line */
          }

          p{
            margin-bottom: 10px;
            font-family: 'Medieval Sharp';
            font-size: 18px;
            text-transform: capitalize;
        }
        span{
            font-style: italic;
        }
    }
}